* {
    padding: 10;
    margin: 10;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

form {
    width: 400px;
    border: solid 1px #333030;
    padding: 10px;
}

button {
    margin-top: 2rem ;
}