* {
    padding: 10;
    margin: 10;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}


/*nav bar properties*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/*form properties*/
div {
    width: 400px;
    padding: 10px;
    display: center;
}

form {
    width: 400px;
    border: solid 1px #333030;
    padding: 10px;
}

button {
    margin-top: 2rem ;
}

