


/*nav bar properties*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/*footer properties*/
footer {
    background-color: #29293a;
    color: white;
    padding: 1em 0;
    margin: 0;

}
footer a:link,
footer a:visited {
    color: #ec8295;
    text-decoration: none;

}
