* {
    padding: 10;
    margin: 10;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

h1.title_hta {
    text-align: center;
    font-size: 70px;
    color: #19647E;
    font-family: 'Comfortaa';
    text-decoration: none;
    

}

h1.cat_title{
    color: #19647E;
    font-family: "Comfortaa";
    

}

/*nav bar properties*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropdownBtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropdownBtn {
    background-color: #119DA4;
}

li.dropdown {
    display: inline-block;
}

.wrapper {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #119DA4
}

.dropdown:hover .wrapper {
    display: flex;
    justify-content: center;
}



/*resources grid layout*/
/* been testing - border on grid item shows where the
   actual border is (shit wack) even without it showing
   same issue is occurring and cant shift anything around */

.grid-container {
    display: grid;
    gap: 10px;
    /* margin: 10; */
    grid-template-columns: auto auto auto;
    /*background-color: #ceb0e6;*/
    align-content: space-evenly;
    padding: 10px;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
    /* margin: 10; */
    /* box-shadow: 0 4px 8px 0 rgb(0, 0, 0); */
    /* transition: 0.3s; */
    /* width: 80%; */
    /* border-radius: 5px; */
}

h4 {
    text-align: justify center;
    text-overflow: wrap;
}


/* .grid-item:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
} */

/*background img*/
html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #8A8D91 50%, #E8F1FF 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/*footer properties*/
footer {
    background-color: #29293a;
    color: white;
    padding: 1em 0;
    margin: 0;

}
footer a:link,
footer a:visited {
    color: #ec8295;
    text-decoration: none;

}

/* Card Interaction */

/* body {
    background-color:#f2f2f2;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
} */

/* For Image Part */
* {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
}

/* .center {
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* End Non-Essential  */

.property-card {
    height:18em;
    width:14em;
    /* display:-webkit-box;
    display:-ms-flexbox; */
    display:center;
    /* -webkit-box-orient:vertical;
    -webkit-box-direction:normal; */
    /* -ms-flex-direction:column;
    flex-direction:column; */
    position:relative;
    /* -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
    /* -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
    /* transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
    border-radius:16px;
    overflow:hidden;
    /* -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff; */
    /* box-shadow:  15px 15px 27px #000000, -15px -15px 27px #ffffff; */
}

/* Top Half of card, image. */

.property-image {
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* background-color: #FFC857; */
    background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
    background-color: #FFC857;
    height:12em;
    width:14em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
}

.property-card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);

}
