/* #region main with titles */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
    background-color: #1F2041;
}


h1.title_hta {
    text-align: center;
    font-size: 40px;
    font-family: 'Comfortaa';
    text-decoration: none;
    color: #19647E;
    float: left !important;
    margin: 10px;

}

h1.cat_title {
    color: #204620;
    margin: 2%;
    padding: 20px 10px 10px 10px;
    font-family: "Comfortaa";
    text-align: center;
    font-size: 50px;
}

/* #endregion main*/

/* #region background img*/

html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 50s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #8A8D91 50%, #E8F1FF 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 50s;
}

.bg3 {
    animation-duration: 50s;
}

.content {
    background-color: #ffffffcc;
    border-radius: .25em;
    box-shadow: 0 0 .25em #00000040;
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* #endregion background img*/

/* #region nav bar properties*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBD374;
    opacity: 1;
    border-bottom: #204620 ridge 3px;
    font-size: 40px;
    font-family: 'Comfortaa';
}

li {
    float: right;
}

li a,
.dropdownBtn {
    display: inline-block;
    color: #19647E;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropdownBtn {
    background-color: #19647E;
    clip-path: polygon(0% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    color: #FBD374;
}


/* Drop-downs for nav bar */
li.dropdown {
    display: inline-block;
}

.navLabel {
    font-size: 30px;
    /*font-family: 'Quicksand';*/
    padding-left: 8px;
    padding-right: 3px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-align: left;
}

.wrapper {
    display: none;
    position: absolute;
    background-color: #FBD374;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0.25em;
    border: #204620 ridge 3px;
}

.dropdown-content a {
    color: black;
    /*font-family: 'Quicksand';*/
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #19647E
}

.dropdown:hover .wrapper {
    display: flex;
    justify-content: center;
}

/* #endregion nav bar properties*/

/* #region resources grid layout */

.grid-container {
    display: grid;
    gap: 50px;
    margin: 10px;
    grid-template-columns: auto auto auto;
    align-content: space-evenly;
    padding: 50px;
}

.grid-item {
    /*border: 1px solid;*/
    font-size: 30px;
    text-align: center;
}

h4 {
    text-align: justify center;
    text-overflow: wrap;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

/* #endregion resources grid layout */

/* #region Card Interaction */
.property-card {
    border-radius: 16px;
    overflow: hidden;
    line-height: 1;
    height: 20em;
}

/* Bottom Card Section */
.property-description {
    background: #19647E;
    padding: 0.5em 1em;
    text-align: center;
    height: inherit;
}

.property-card:hover {
    box-shadow: 0 8px 16px 0 #1F2041;

}

.property-card a,
.property-card a:visited,
.property-card a:hover,
.property-card a:active {
    color: white;
    font-family: 'Comfortaa';

}

p {
    color: #FBD374;
    font-family: 'Quicksand';
}

/* #endregion Card Interaction */